@import "tailwindcss";

@plugin "daisyui" {
  themes: all;
}

@media print {
    :root {
      color-scheme: light;
    }
}


@plugin "daisyui/theme" {
  name: "test-theme";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(14% 0.005 285.823);
  --color-base-200: oklch(21% 0.006 285.885);
  --color-base-300: oklch(27% 0.006 286.033);
  --color-base-content: oklch(96% 0.001 286.375);
  --color-primary: oklch(62% 0.214 259.815);
  --color-primary-content: oklch(98% 0.026 102.212);
  --color-secondary: oklch(75% 0.183 55.934);
  --color-secondary-content: oklch(98% 0.016 73.684);
  --color-accent: oklch(71% 0.143 215.221);
  --color-accent-content: oklch(98% 0.019 200.873);
  --color-neutral: oklch(44% 0.017 285.786);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(68% 0.169 237.323);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(97% 0.021 166.113);
  --color-warning: oklch(76% 0.188 70.08);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}


@plugin "daisyui/theme" {
  name: "default";
  --color-base-100: oklch(20% 0.008 250);
  --color-base-200: oklch(17% 0.007 250);
  --color-base-300: oklch(14% 0.006 250);
  --color-base-content: oklch(98% 0.03 250);
  --color-primary: oklch(60% 0.25 280);
  --color-primary-content: oklch(97% 0.02 280);
  --color-secondary: oklch(65% 0.23 180);
  --color-secondary-content: oklch(97% 0.02 180);
  --color-accent: oklch(78% 0.25 15);
  --color-accent-content: oklch(20% 0.05 15);
  --color-neutral: oklch(10% 0.005 250);
  --color-neutral-content: oklch(93% 0.005 250);
  --color-info: oklch(76% 0.2 240);
  --color-info-content: oklch(20% 0.08 240);
  --color-success: oklch(78% 0.2 160);
  --color-success-content: oklch(20% 0.08 160);
  --color-warning: oklch(84% 0.2 80);
  --color-warning-content: oklch(25% 0.12 80);
  --color-error: oklch(73% 0.22 20);
  --color-error-content: oklch(20% 0.12 20);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}