@import "tailwindcss";

@plugin "daisyui" {
    themes: dark --default, dark --prefersdark;
}

@media print {
    :root {
      color-scheme: light;
    }
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(20% 0.008 250);
  --color-base-200: oklch(17% 0.007 250);
  --color-base-300: oklch(14% 0.006 250);
  --color-base-content: oklch(98% 0.03 250);
  --color-primary: oklch(60% 0.25 280);
  --color-primary-content: oklch(97% 0.02 280);
  --color-secondary: oklch(65% 0.23 180);
  --color-secondary-content: oklch(97% 0.02 180);
  --color-accent: oklch(78% 0.25 15);
  --color-accent-content: oklch(20% 0.05 15);
  --color-neutral: oklch(10% 0.005 250);
  --color-neutral-content: oklch(93% 0.005 250);
  --color-info: oklch(76% 0.2 240);
  --color-info-content: oklch(20% 0.08 240);
  --color-success: oklch(78% 0.2 160);
  --color-success-content: oklch(20% 0.08 160);
  --color-warning: oklch(84% 0.2 80);
  --color-warning-content: oklch(25% 0.12 80);
  --color-error: oklch(73% 0.22 20);
  --color-error-content: oklch(20% 0.12 20);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}