@import "tailwindcss";

html{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@plugin "daisyui" {
  themes: all;
}

@page {
  size: A4;
  margin: 8mm 10mm;
}

@media print {
    :root {
      color-scheme: light;
    }
}


@plugin "daisyui/theme" {
  name: "cv";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97% 0.014 254.604);
  --color-base-300: oklch(93% 0.032 255.585);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(62% 0.214 259.815);
  --color-primary-content: oklch(26% 0.065 152.934);
  --color-secondary: oklch(80% 0.105 251.813);
  --color-secondary-content: oklch(29% 0.149 302.717);
  --color-accent: oklch(97% 0.071 103.193);
  --color-accent-content: oklch(29% 0.066 243.157);
  --color-neutral: oklch(37% 0.013 285.805);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(48% 0.243 264.376);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(97% 0.021 166.113);
  --color-warning: oklch(76% 0.188 70.08);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 0.25rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 0;
  --noise: 0;
}



@plugin "daisyui/theme" {
  name: "default";
  default: false;
  prefersdark: false;
  --color-base-100: oklch(20% 0.008 250);
  --color-base-200: oklch(17% 0.007 250);
  --color-base-300: oklch(14% 0.006 250);
  --color-base-content: oklch(98% 0.03 250);
  --color-primary: oklch(70% 0.165 254.624);
  --color-primary-content: oklch(97% 0.02 280);
  --color-secondary: oklch(62% 0.214 259.815);
  --color-secondary-content: oklch(97% 0.02 180);
  --color-accent: oklch(80% 0.105 251.813);
  --color-accent-content: oklch(20% 0.05 15);
  --color-neutral: oklch(10% 0.005 250);
  --color-neutral-content: oklch(93% 0.005 250);
  --color-info: oklch(76% 0.2 240);
  --color-info-content: oklch(20% 0.08 240);
  --color-success: oklch(78% 0.2 160);
  --color-success-content: oklch(20% 0.08 160);
  --color-warning: oklch(84% 0.2 80);
  --color-warning-content: oklch(25% 0.12 80);
  --color-error: oklch(73% 0.22 20);
  --color-error-content: oklch(20% 0.12 20);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
